<div>
  <!-- ToDo Input Dialog -->
  <button type="button" class="btn btn-primary" (click)="openModal(template)">Create template modal</button>

  <ng-template #template>
    <div class="modal-header">
      <h4 class="modal-title pull-left">Modal</h4>
      <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      This is a modal.
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
    </div>
  </ng-template>
  <!-- -->

  <button type="button"
          class="btn btn-primary"
          (click)="addNewToDo()">
    Add New To Do
  </button>
  <table class="table table-striped">
      <thead>
        <th>Name</th>
        <th>Completed</th>
        <th>Action</th>
      </thead>
      <tbody>

        <tr app-table-child
            *ngFor="let todo of todos"
            [todo]="todo"
            (deleteEvent)="onToDoDeleteEvent($event)"
            >

        </tr>

      </tbody>
  </table>
</div>
