<div>
  <ng-template #template>
    <form [formGroup]="movieForm" (ngSubmit)="onSubmit()">
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{editMode?'Edit Movie':'New Movie'}}</h4>
        <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="modalRef?.hide()">
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="title">Movie title</label>
          <input type="text"
                 class="form-control"
                 id="title"
                 formControlName="title"
                 [readOnly]="editMode"
                 placeholder="Enter movie title">
          <div *ngIf="form['title'].invalid && (form['title'].dirty || form['title'].touched)"
               class="alert alert-danger">
            <span *ngIf="form['title']?.errors?.['required']">
              Title required
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="title">Movie Year</label>
          <input type="text"
                 class="form-control"
                 id="year"
                 formControlName="year"
                 [readOnly]="editMode"
                 placeholder="Enter movie year">
          <div *ngIf="form['year'].invalid && (form['year'].dirty || form['year'].touched)"
               class="alert alert-danger">
            <span *ngIf="form['year']?.errors?.['required']">
              Year required
            </span>
          </div>
        </div>

        <div class="form-group">
          <label for="title">Director</label>
          <select type="text"
                  class="form-control"
                  id="director"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="selectedDirectorIndex"
                  placeholder="Enter Director year">
            <option *ngFor="let director of directorsModel;let i=index;" [value]="i">
              {{director.name}}
            </option>

          </select>
          <button type="button"
                  class="btn-primary btn"
                  (click)="addDirector()">
            Add Director
          </button>
          <ng-container formArrayName="directors">
            <ng-container *ngFor="let directorForm of directors.controls; let i = index">
              <div class="director" >

                {{directorForm.value.name}}
                <button type="button" class="btn btn-secondary"
                  (click)="removeDirector(i)">Remove</button>
              </div>
            </ng-container>
          </ng-container>
        </div>

        <div class="form-group">
          <label for="title">Actor</label>
          <select type="text"
                  class="form-control"
                  id="actor"
                  [ngModelOptions]="{standalone: true}"
                  [(ngModel)]="selectedActorIndex"
                  placeholder="Enter Actor">
            <option *ngFor="let actor of actorsModel;let i=index" [value]="i">{{actor.name}}</option>

          </select>
          <button type="button"
                  class="btn-primary btn"
                  (click)="addActor()">
            Add Actor
          </button>
          <ng-container formArrayName="actors">
            <ng-container *ngFor="let actorForm of actors.controls; let i = index">
              <div class="actor" >

                {{actorForm.value.name}}
                <button type="button" class="btn btn-secondary"
                        (click)="removeActor(i)">Remove</button>
              </div>
            </ng-container>
          </ng-container>
        </div>



      </div>

      <div class="modal-footer">
        <div>
          <button type="submit"
                  [disabled]="!movieForm.valid"
                  class="btn btn-primary" >
            {{editMode?'Update':'Save'}}
          </button>
          &nbsp;
          <button type="button" class="btn btn-primary" (click)="closeModal()">Close</button>
        </div>
      </div>
    </form>
  </ng-template>
  <button type="button" class="btn-primary btn"  (click)="showNeMovieModal()">
    New Movie
  </button>
  <table class="table-striped table-bordered table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Title</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>

      <tr app-movie-two [movie]="movie" *ngFor="let movie of movies">

      </tr>

    </tbody>

  </table>

</div>
